<div class="home-container">
  <!-- Left Sidebar Component -->
  <app-sidebar
    (pickupSelected)="handlePickupSelected($event)"
    (dropoffSelected)="handleDropoffSelected($event)"
    (cancelRideModal)="onCancelRide()"
    [rideDetails]="rideDetails"
    (completeAndSubmit)="rideCompleted()"
  >
  </app-sidebar>

  <!-- Right Map Section -->
  <div class="map-section">
    <app-map [pickupCoords]="pickupCoords" [dropoffCoords]="dropoffCoords">
    </app-map>
  </div>
</div>

<app-modal
  *ngIf="cancelRideModal && rideDetails"
  [rideId]="rideDetails.rideId"
  (close)="closeModal()"
  (submit)="rideCancelConfirm($event)"
></app-modal>

<router-outlet></router-outlet>
