.sidebar {
  background: #f4f4f4;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.mt-4 {
  margin-top: 16px;
}
.ride-details-card {
  max-width: 245px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: white;
}
